#our_company {
    background: #101010;
    padding: 100px 0;
    .our_company_theme {
        p:nth-child(1) {
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: .5px;
            margin-bottom: 12px;
            font-weight: 600;
            background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4766 79.69%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }
        p:nth-child(2) {
            font-size: 50px;
            line-height: 62px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 20px;
        }
        p:nth-child(3) {
            width: 540px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 30px;
            color: rgba(198, 201, 216, 0.75);
            font-weight: 400;
            margin-bottom: 60px;
        }
    }
    .card {
        background: none;
        border: none;
        padding: 40px;
        background: #0C0C0C;
        margin: 0 20px 35px 0;
        border-radius: 6px;
        text-align: center;
        svg {
            width: 47px !important;
            height: 47px !important;
            stroke-width: 1 !important;
            margin-bottom: 23px;
        }
        p:nth-child(2) {
            color: #fff;
            font-size: 54px;
            font-weight: 700;
            line-height: 62px;
            margin-top: 20px;
            margin-bottom: 7px;
        }
        p:nth-child(2)::after {
            content: "+";
            font-size: 54px;
            font-weight: 700;
        }
        p:nth-child(3) {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: .5px;
            color: rgba(198, 201, 216, 0.75);
        }
    }
}


@media screen and (max-width: 676px) {
    #our_company {
        padding: 20px 0;
        .our_company_theme {
            p:nth-child(2) {
                font-size: 26px;
                line-height: 30px;
            }
            p:nth-child(3) {
                width: 100%;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 30px;
            }
        }
    }
}