#our_work {
    background: #191919;
    padding: 100px 0;
    .our_work_theme {
        p:nth-child(1) {
            color: #fff;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: .5px;
            margin-bottom: 12px;
            font-weight: 600;
            background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #fd4766 79.69%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }
        p:nth-child(2) {
            font-size: 50px;
            line-height: 62px;
            color: #fff;
            font-weight: 600;
            margin-bottom: 20px;
        }
        p:nth-child(3) {
            width: 540px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 30px;
            color: rgba(198, 201, 216, 0.75);
            font-weight: 400;
            margin-bottom: 60px;
        }
    }
    .card {
        background: none;
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 10px ;
        transition: all .3s linear;
        transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
        img {
            width: 100%;
            border-radius: 10px;
            transition: all .3s linear;
        }
        div {
            width: 100%;
            padding: 0 20px;
            position: absolute;
            bottom: 40px;
            z-index: 222;
            cursor: pointer;
            transform: translateY(60%);
            transition: all .3s linear;
            p:nth-child(1) {
                color: #ffffff;
                opacity: 0.7;
                margin: 5px;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.5px;
            }
            p:nth-child(2) {
                color: #ffffff;
                font-size: 30px;
                font-weight: 600;
                line-height: 1.4;
                letter-spacing: 0.5px;
                padding-bottom: 15px;
            }
            p:nth-child(3) {
                width: 60%;
                color: #ffffff;
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: -20px;
            }
            
        }
    }
    .card::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 85%;
        display: block;
        z-index: 1;
        content: '';
        background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
        transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
        cursor: pointer;
    }
    .card:hover::before {
        background: linear-gradient(to bottom, rgba(208, 60, 86, 0), rgba(208, 60, 86, 0.75) 100%);
        transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    }
    .card:hover {
        transform: translateY(-10px);
        img {
            transform: scale(1.15);
        }
        div {
            transform: translateY(0);
        }
    }
}


@media screen and (max-width: 676px) {
    #our_work {
        padding: 20px 0;
        .our_work_theme {
            p:nth-child(2) {
                font-size: 26px;
                line-height: 30px;
            }
            p:nth-child(3) {
                width: 100%;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 30px;
            }
        }
    }
}